/node_modules
/storage/*.key
/vendor
.env
.env.*
build.xml
*.phar
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.vscode
/database/*.sqlite
/database/data
/exportToHTML/
**/.DS_Store
composer.lock
package-lock.json
/public/css/app.css
/public/js/app.js
