//
// Custom Main
//
// Add your own styles or override existing ones
//
// This file is included last, so you have access
// to all Bootstrap and Dashmix functions/mixins/styles etc
// --------------------------------------------------

// If you have many custom styles, you can create and import additional files
// For example you can create _component1.scss and include it as follows:
// @import 'component1';

.required {
	color: red;
}

.flatpickr-input {
	padding-left: 0.75rem;
}

.row-editor {
	margin-left: 0;
	margin-right: 0;
}

.row.items-push {
	margin-left: 0;
	margin-right: 0;
	margin-top: 1.75rem;
	margin-bottom: 1.75rem;
}

.no-link {
	cursor: default;
}

.statistics tr {
	padding-bottom: 10px;
}

td {
	word-break: break-all;
}

td.key {
	padding-right: 10px;
}

td.value {
	font-weight: bold;
}

.image-preview {
	//width: 200px;
	height: 200px;
}

.thumb-row {
	max-width: 40px;
	max-height: 40px;
	margin-right: 1em;
}

a.disabled {
	pointer-events: none;
	cursor: default;
}
