//
// Custom Main
//
// Add your own styles or override existing ones
//
// This file is included last, so you have access
// to all Bootstrap and Dashmix functions/mixins/styles etc
// --------------------------------------------------

// If you have many custom styles, you can create and import additional files
// For example you can create _component1.scss and include it as follows:
// @import 'component1';

.required {
	color: red;
}

.flatpickr-input {
	padding-left: 0.75rem;
}

.row-editor {
	margin-left: 0;
	margin-right: 0;
}

.row.items-push {
	margin-left: 0;
	margin-right: 0;
	margin-top: 1.75rem;
	margin-bottom: 1.75rem;
}

.no-link {
	cursor: default;
}

.statistics tr {
	padding-bottom: 10px;
}

td {
	word-break: break-all;
}

td.key {
	padding-right: 10px;
}

td.value {
	font-weight: bold;
}

.image-preview {
	//width: 200px;
	height: 200px;
}

.thumb-row {
	max-width: 40px;
	max-height: 40px;
	margin-right: 1em;
}

a.disabled {
	pointer-events: none;
	cursor: default;
}

#ident-area {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.ident-group {
	width: 300px;
}

// Custom branding
.custom-background {
	background-color: $custom-background !important;
}

.custom-color {
	color: $custom-color !important;
}

.pcr-button {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.dataTables_processing {
	background-color: $theme-xsmooth-primary;
	color: $theme-xsmooth-body-bg-light;
}

.flatpickr-input.form-control:disabled, .flatpickr-input.form-control[readonly] {
	background-color: #e9ecef;
}

.form-check-input {
	border-color: $theme-xsmooth-primary !important;
}

.table.dataTable {
	> thead {
		vertical-align: top;
		background-color: rgba(0, 0, 0, 0.05);

		.sorting, .sorting_asc, .sorting_desc, .sorting_asc_disabled, .sorting_desc_disabled {
			::before {
				content: "\2191";
			}
			::after {
				content: "\2193";
			}
		}
	}
}
